@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
@layer utilities {
  .w-36vw {
    width: 36vw;
  }

  .mr-12vw {
    margin-right: 12vw;
  }

  .ml-12vw {
    margin-left: 12vw;
  }

  .w-24vw {
    width: 24vw;
  }

  .h-64vh {
    height: 64vh;
  }

  .mt-16vh {
    margin-top: 16vh;
  }

  .pt-8vh {
    padding-top: 8vh;
  }

  .pl-2vw {
    padding-left: 2vw;
  }

  .pr-2vw {
    padding-right: 2vw;
  }

  .max-w-90 {
    max-width: 90%;
  }

  .w-125 {
    width: 500px;
  }

  .overflow-y-auto {
    overflow-y: auto;
  }

  .pb-16 {
    padding-bottom: 4rem;
  }

  /* Custom scrollbar styling for better UX on scrollable divs */
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px;
  }

  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.popup {
  @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50;
}

.popup-inner {
  @apply max-h-screen overflow-y-auto bg-white p-5 rounded-md shadow-lg w-125 max-w-90;
}

:root {
  --navbar-height: 0px;
}
